@font-face {
  font-family: 'TTCommons-Regular';
  src: url('./assets/font/TTCommons-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  font-family: "Neue-Helvetica","Helvetica","Arial",Sans-Serif;
  padding: 20px 40px;
  background-color: #323031;
  /* background: #16222a; fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #16222a, #3a6073); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #16222a, #3a6073);  */
  color: white;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
  /* color: yellow; */
}

* {
  box-sizing: border-box;
}


