@font-face {
  font-family: 'TTCommons-Regular';
  src: url('./assets/font/TTCommons-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  font-family: "Neue-Helvetica","Helvetica","Arial",Sans-Serif;
  padding: 20px 40px;
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
  /* color: yellow; */
}

* {
  box-sizing: border-box;
}


